__pycache__
.pytest_cache
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.env.local
*.log
tests/
docs/
*.git
*.gitignore
Dockerfile*
.dockerignore
*.md
.DS_Store
data4c/results/*
data4c/logs/*
node_modules/
npm-debug.log